<% include ./partials/headIsUser%>

      <div class = "container-fluid">
          
            <div class = "jumbotron jumbotron-fluid bg-danger text-white jumbotron-texture" style = "text-align: center; margin-top: 30px;">
                <div class = "container">
                    <h1>Old Town Pizza Announcements</h1>
                </div>
          </div>
          
<h2 style="text-align:center">Announcements</h2>

<hr>

<div>
    <strong>Laura Styler</strong><br>
    <a href="" onclick="href='/oldMessage'"><font size=5>CODE RED! WE ARE OUT OF PEPPERONI!!!</font></a><br>
    <small>created Jan 4 at 4:03am
    <div style="text-align: right">
    Last Updated Jan 3 at 2:87pm</small></div>
</div>

<hr>

<div>
    <strong>Tom Anderson</strong><br>
    <a href="" onclick="href='/messages'"><font size=5>Add me on MySpace</font></a><br>
    <small>created Jan 2 at 8:03am
    <div style="text-align: right">
    Last Updated Jan 8 at 1:01pm</small></div>
</div>
</div>