<% include ./partials/headIsUser %>
<section id="cover">

    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row ">
                <div class="col-sm-6 offset-sm-3 text-center">
                    <h1 class="display-4">Login</h1>
                    <div class="info-form">
                        <form action = "/login" method = "POST" class="form-inlin justify-content-center">
                            <div class="form-group">
                                <label class="sr-only">Name</label>
                                <input class = "form-control" type = "text" id = "loginInput" name = "loginUN" placeholder = "username" >
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Email</label>
                                 <input class = "form-control" type = "password" id = "passwordInput"  name = "loginPW" placeholder = "password" >
                            </div> 
                        </form>
                    </div>
                    <br>


                </div>
        
    </div>
</section>
        <!--cards-->
      <!--- <div class = "container-fluid">
          
            <div class = "jumbotron jumbotron-fluid bg-info text-white" style = "text-align: center; margin-top: 30px">
                <div class = "container">
                    <h1>Account</h1>
                </div>
          </div>
          <div class = "row" style ="margin: 0 auto;">
            <div class = "col-md-12">
                    <p class = "lead" align = center> Goals</p>
                    <div class "list-group">
                        <li class = "list-group-item">Goal 1</li>
                        <li class = "list-group-item">Goal 2</li>
                        <li class = "list-group-item">Goal 3</li>
                    </div>
             </div>
          </div>
          <div class = "row" style = "margin-top: 30px;">
              <div class = "col-md-6 col-lg-3">
                  <div class = "card">
                       <img class = "card-img-top img-fluid" src = "https://images.unsplash.com/photo-1518775005910-7aa25aa9614a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f98dec0a90f164b534bda2ddffc26eac&auto=format&fit=crop&w=1433&q=80">
                      <div class = "card-body">
                         
                            <h4 class = "card title">Account Name</h4>
                             <p>Account Summary</p>
                      </div>

                  </div>
                  
              </div>
          </div>
      </div>--->
<% include ./partials/footer %>