<% include ./partials/headIsUser %>

      <div class = "container-fluid">
          
            <div class = "jumbotron jumbotron-fluid bg-danger text-white jumbotron-texture" style = "text-align: center; margin-top: 30px;">
                <div class = "container">
                    <h1>Old Town Pizza Messages</h1>
                </div>
          </div>
    
    <form>
    <input style="width:35%" type="text" name="msg" value="Write message here..."><button style="" class="btn btn-danger btn-sm">Submit</button></input>
    </form>
<% include ./partials/footer %>