 <% include ./partials/headIsUser%>
 
 <div class = "container-fluid">
          
    <h1 style="text-align:center"><font size=12>Add me on MySpace</font></h1>
    
    <hr>
    
    <div>
        <img src="https://a3-images.myspacecdn.com/images03/1/240e42b5d9ce48a78983961e7fcb3c39/full.jpg" style="width:100px;height:100px;">
        <font size=5>Tom Anderson</font><br>
        <small>created Jan 74 at 2:03pm</small>
    </div>
    
    <div style="text-align:center">
        <pre>
            Howdy you guys! I was just trying to start MySpace back up and hope we can all be friends.
            If you dont have a MySpace account, go create one now at www.myspace.com and upon creating
            a new account, you're obligated to be friends with me! Come join the team because it is lit
            and smashin'. If you have any questions or concerns, feel free to leave a message down below.
        </pre>
    </div>
    
    <hr>
    
    <h2 style="text-decoration:underline">Comments</h2>
    
    <div></div>
    
    <div>
        <font size=5>MySpace is ass.</font><br>
        Jerry Junior
        <p style="text-align:right"><small>updated Dec 5 at 6:44am</small></p>
    </div>
    
    <hr>
    
    <div>
        <font size=5>Go out with me please!</font><br>
        Amy Patricia
        <p style="text-align:right"><small>updated Mar 5 at 7:01am</small></p>
    </div>
    
    <hr>
    <br>
    <br>
    
    <form>
    <input style="width:35%" type="text" name="msg" value="Write message here..."><button style="" class="btn btn-danger btn-sm">Submit</button></input>
    </form>
<% include ./partials/footer %>